# Web Framework (includes uvicorn, httpx, etc.)
fastapi[standard]

# AI & API
anthropic

# Configuration & Environment
python-dotenv
pydantic-settings

# Database (For Part 2/3 Implementation)
# We'll use asyncpg for high-performance async Postgres connections
asyncpg
sqlalchemy[asyncio]

#Test tools
pytest
pytest-asyncio